---
- name: Assert proper distribution
  ansible.builtin.assert:
    that:
      - ansible_facts["distribution"] in ['Archlinux']
    quiet: true

- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ ansible_facts.distribution }}.yml"

- name: Include common variables
  ansible.builtin.include_vars: "common.yml"

- name: Include OS-specific tasks
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"
