{
  "user_name": "{{ wallix_bastion_user_name }}",
  "email": "{{ wallix_bastion_user_data.email }}",
  "ip_source": "{{ wallix_bastion_user_data.ip_source }}",
  "preferred_language": "{{ wallix_bastion_user_data.preferred_language }}",
  "profile": "{{ wallix_bastion_user_data.profile }}",
  "is_disabled": {{ wallix_bastion_user_data.is_disabled }},
  "groups": [],
  "user_auths": [
  {% for user_auth in wallix_bastion_user_data.user_auths %}
    "{{ user_auth }}"{% if not loop.last %},{% endif %}
  {% endfor %}
  ],
  "password": "{{ wallix_bastion_user_data.password }}",
  "force_change_pwd": {{ wallix_bastion_user_data.force_change_pwd }},
  "ssh_public_key": "{{ wallix_bastion_user_data.ssh_public_key }}",
  "gpg_public_key": "{{ wallix_bastion_user_data.gpg_public_key }}",
  "certificate_dn": "{{ wallix_bastion_user_data.certificate_dn }}",
}
