{{ ansible_managed | comment }}  
# See timesyncd.conf(5) for details.

[Time]
#NTP={{ tz_ntp_servers }}
FallbackNTP={{ tz_ntp_servers }}
RootDistanceMaxSec={{ tz_ntp_distance_max }}
#PollIntervalMinSec=32
#PollIntervalMaxSec=2048
