---
- name: Assert proper distribution
  ansible.builtin.assert:
    that:
      - ansible_facts["distribution"] in ['Archlinux']
    quiet: true

- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ ansible_facts.distribution }}.yml"

- name: Include common variables
  ansible.builtin.include_vars: "common.yml"

- ansible.builtin.include_tasks: asserts.yml

- ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"

# - name: Config x11 monitors
#   template:
#     src: x11_monitors.conf.j2
#     dest: /etc/X11/xorg.conf.d/x11_monitors.conf
#     owner: root
#     group: root
#     mode: 06344
#   notify: restart lightdm
- name: Get localectl
  ansible.builtin.command: localectl status
  register: __locale_status
  changed_when: false

- name: Set fact current_x11_layout
  ansible.builtin.set_fact:
    current_x11_layout: "{{ __locale_status.stdout | regex_search('X11 Layout: ([^\n]+)', '\\1') | first }}"

- name: Set keyboard map
  ansible.builtin.command: localectl set-x11-keymap "{{ x11_keymap_layout }}"
  changed_when: current_x11_layout != x11_keymap_layout
  notify: Restart lightdm

- name: Add users to light
  ansible.builtin.user:
    name: "{{ item }}"
    groups: "{{ _light_group }}"
    append: true
  with_items: "{{ light_users }}"

- name: Create wallpaper folder
  ansible.builtin.file:
    path: /usr/share/wallpaper
    owner: root
    group: root
    state: directory
    mode: '0755'

- name: Copy greeter bg images
  ansible.builtin.copy:
    dest: "/usr/share/wallpaper/greeter-bg.png"
    src: "files/greeter-bg.png"
    owner: root
    group: root
    mode: '0655'

- name: Copy greeter config
  ansible.builtin.copy:
    dest: "/etc/lightdm/lightdm-gtk-greeter.conf"
    src: "files/lightdm-gtk-greeter.conf"
    owner: root
    group: root
    mode: '0644'

- name: Flush handlers
  meta: flush_handlers
