---
- name: Create directory to store the data
  ansible.windows.win_file:
    path: C:\tools
    state: directory

- name: Download file
  ansible.windows.win_get_url:
    url: "{{ windows_settings_CIS_lgpo_url }}"
    dest: C:\tools\lgpo.zip

- name: Unzip lgpo.zip
  community.windows.win_unzip:
    src: C:\tools\lgpo.zip
    dest: C:\tools

- name: Copy requiered files
  ansible.windows.win_copy:
    src: "../files/{{ item }}"
    dest: "c:\\tools\\{{ item }}"
  loop:
    - cis_policy.zip
    - 5.1_Print_Spooler.reg
    - 18.6.19.2.1_DisableIP_V6.reg
    - 18.9.51.1.1_NTP_Server.reg

- name: Unzip cis_policy.zip
  community.windows.win_unzip:
    src: C:\tools\cis_policy.zip
    dest: C:\tools

- name: Import LGPO backup
  ansible.windows.win_powershell:
    script: |
      [CmdletBinding()]
      param (
      )
      C:\tools\LGPO_30\LGPO.exe /g "C:\tools\{0DEB0313-C37C-4AD3-8955-174566259D5C}" /q > "C:\tools\lgpo.out"
    error_action: stop

- name: Merge in a registry file without comparing to current registry
  community.windows.win_regmerge:
    path: "C:\\tools\\{{ item }}"
  with_items:
    - 5.1_Print_Spooler.reg
    - 18.6.19.2.1_DisableIP_V6.reg
    - 18.9.51.1.1_NTP_Server.reg

- name: Add or update NTP NtpServer
  ansible.windows.win_regedit:
    path: HKLM:\System\CurrentControlSet\Services\W32Time\Parameters
    name: NtpServer
    data: "{{ windows_settings_CIS_ntp_server_fqdn | map('regex_replace', '(.*)', '\\1,0x8') | join(' ') }}"
    type: string
