---
- name: Verify prerequisits
  ansible.builtin.include_tasks: asserts.yml

- name: Upgrade packages
  community.general.pacman:
    upgrade: true
    update_cache: true
    upgrade_extra_args: "{{ pacman_extra_args }}"

- name: Install packages
  community.general.pacman:
    name: "{{ _pacman_packages }}"
    state: present
    update_cache: true

- name: Create hooks directory
  ansible.builtin.file:
    path: /etc/pacman.d/hooks
    state: directory
    mode: '0640'
    owner: root
    group: root

- name: Get installed packages
  ansible.builtin.package_facts:
    manager: "auto"

- name: Install mlocate hook
  ansible.builtin.copy:
    dest: /etc/pacman.d/hooks
    src: locate.hook
    mode: '0640'
    owner: root
    group: root
  when: "'mlocate' in ansible_facts.packages"

- name: Install reboot-required script
  ansible.builtin.copy:
    dest: /usr/bin/reboot-required.sh
    src: reboot-required.sh
    mode: '0750'
    owner: root
    group: root
  when: ansible_facts["architecture"] != 'aarch64'

- name: Install reboot-required hook
  ansible.builtin.copy:
    dest: /etc/pacman.d/hooks
    src: reboot-required.hook
    mode: '0640'
    owner: root
    group: root
  when: ansible_facts["architecture"] != 'aarch64'

- name: Create AUR directory
  ansible.builtin.file:
    path: "{{ pacman_aur_directory }}"
    owner: "{{ pacman_aur_owner }}"
    group: "{{ pacman_aur_group }}"
    mode: '0750'
    state: directory
