---
- name: Assert proper distribution
  ansible.builtin.assert:
    that:
      - ansible_facts["distribution"] in ['Archlinux']
    quiet: true
- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ ansible_facts.distribution }}.yml"

- name: Include common variables
  ansible.builtin.include_vars: "common.yml"

- name: Install packages
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"

- name: Get installed packages
  ansible.builtin.package_facts:
    manager: "auto"

- name: Open firewall ports
  community.general.ufw:
    rule: allow
    direction: in
    src: "{{ item }}"
    to_port: "{{ xrdp_port }}"
  loop: "{{ xrdp_ufw }}"
  when: "'ufw' in ansible_facts.packages"

- name: Set sesman.ini right xorg pointer
  ansible.builtin.lineinfile:
    path: /etc/xrdp/sesman.ini
    regexp: '^param=Xorg$'
    line: param=/usr/lib/Xorg
  notify: Restart xrdp

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
