{
  "domain_name": "{{ wallix_bastion_domain_name }}",
  "domain_real_name": "{{ wallix_bastion_domain_data.domain_real_name }}",
  "description":"{{ wallix_bastion_domain_data.description }}",
  "enable_password_change": {{ wallix_bastion_domain_data.enable_password_change | lower}},
  "password_change_policy": "{{ wallix_bastion_domain_data.password_change_policy }}",
  "password_change_plugin": "{{ wallix_bastion_domain_data.password_change_plugin }}",
  "password_change_plugin_parameters": {
  {% for key, value in wallix_bastion_domain_data.password_change_plugin_parameters.items() %}
    "{{ key }}": {% if value is boolean %}
                  {{ value | lower }}
                {% elif value is number %}
                  {{ value }}
                {% elif value is none %}
                  null
                {% else %}
                  "{{ value }}"
                {% endif %}{% if not loop.last %},{% endif %}
  {%- endfor %}
  },
  "ca_private_key": "{{ wallix_bastion_domain_data.ca_private_key }}"{% if wallix_bastion_domain_data.passphrase is defined and wallix_bastion_domain_data.passphrase %},
  "passphrase": "{{ wallix_bastion_domain_data.passphrase }}"
  {% endif %}
}
