
- name: Create certificate key directory for "{{ cert.name }}"
  ansible.builtin.file:
    path: "{{ cert.key_path }}"
    state: directory
    owner: root
    group: root
    mode: "0700"

- name: Create certificate directory for "{{ cert.name }}"
  ansible.builtin.file:
    path: "{{ cert.cert_path }}"
    state: directory
    owner: root
    group: root
    mode: "0700"

- name: Create bundle output directory for "{{ cert.name }}"
  ansible.builtin.file:
    path: "{{ cert.bundle_path }}"
    state: directory
    owner: root
    group: root
    mode: "0700"

- name: Generate private key for "{{ cert.name }}"
  community.crypto.openssl_privatekey:
    path: "{{ cert.key_path }}/{{ cert.key_name }}"
    size: "4096"
    type: RSA
    owner: root
    group: root
    mode: "0600"

- name: Generate CSR for "{{ cert.name }}"
  community.crypto.openssl_csr:
    path: "{{ cert.cert_path }}/csr_{{ cert.cert_name }}"
    privatekey_path: "{{ cert.key_path }}/{{ cert.key_name }}"
    common_name: "{{ cert.cn }}"
    subject_alt_name: "{{ cert.san | map('regex_replace', '^', 'DNS:') | list }}"
    key_usage:
      - digitalSignature
      - keyEncipherment
    extended_key_usage:
      - serverAuth
    owner: root
    group: root
    mode: "0600"

- name: Sign CSR for "{{ cert.name }}"
  community.crypto.x509_certificate:
    path: "{{ cert.cert_path }}/{{ cert.cert_name }}"
    privatekey_path: "{{ cert.key_path }}/{{ cert.key_name }}"
    csr_path: "{{ cert.cert_path }}/csr_{{ cert.cert_name }}"
    provider: selfsigned
    owner: root
    group: root
    mode: "0600"

- name: Check if certificate bundle exists for "{{ cert.name }}"
  ansible.builtin.stat:
    path: "{{ cert.bundle_path }}/{{ cert.bundle_name }}"
  register: __cert

- name: Read key and certificate for "{{ cert.name }}"
  ansible.builtin.command: >
    awk 1 "{{ cert.key_path }}/{{ cert.key_name }}" "{{ cert.cert_path }}/{{ cert.cert_name }}"
  register: __bundle
  when: not __cert.stat.exists

- name: Create key + certificate bundle for "{{ cert.name }}"
  ansible.builtin.copy:
    dest: "{{ cert.bundle_path }}/{{ cert.bundle_name }}"
    content: "{{ __bundle.stdout }}"
    owner: root
    group: root
    mode: "0600"
  when: not __cert.stat.exists
