---
- name: Assert proper distribution
  ansible.builtin.assert:
    that:
      - ansible_facts["distribution"] in ['Archlinux']
    quiet: true

- name: Include OS-specific variables
  ansible.builtin.include_vars: "{{ ansible_facts.distribution }}.yml"

- name: Include OS-specific tasks
  ansible.builtin.include_tasks: "{{ ansible_facts.distribution }}.yml"

- name: Create Exchange directory
  ansible.builtin.file:
    path: "{{ ansible_exchange_dir }}"
    state: directory
    owner: root
    group: root
    mode: '0750'

- name: Create .ansible.cfg for ansible users
  ansible.builtin.template:
    src: ansible.cfg.j2
    dest: "{{ item.home_dir }}/.ansible.cfg"
    owner: "{{ item.login }}"
    group: "{{ item.group }}"
    mode: '0640'
  loop: "{{ ansible_users }}"
